/* --------------------------------------
GLOBAL STYLES
-----------------------------------------*/


html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    overflow: hidden;
}
a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}
body {
        font-family: 'pt_sansregular';
    font-size: 14px;
    color: #5c5c5c;
    line-height: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

h1 {
    font-weight: 800;
}

h5 {
    padding-bottom: 30px;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

a, a:hover {
    text-decoration: none;
    color: #5c5c5c;
    background:transparent;
}

.clearfix {clear: both;}
.fr {float: right !important;}

/*Logo   */
#logo { position: fixed;  top: 2%; z-index: 4; width: 250px;}
#logo h1 {color: #fff; font-size: 21px; margin: 0; float: right;color: #0079BF; }

#logo img {max-width: 100%; margin-top: -20px;}
.wrap { position: relative;}
.marquee-wrap {padding:5px 20px;float: right; margin-top: 20px; width: 70%;}
.marquee-wrap  {font-size: 15px; color: #0079BF;overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;}
.marquee-wrap p {float: left; display: inline;}
.marquee:hover {
    animation-play-state: paused
}
/*side main menu*/
#main-nav {
    position: fixed;
    z-index: 100;
    top: 2%;
    left: 14px;
    font-size: 32px;
    font-weight: 300;
}
a#main-nav {color: #0079BF;}
#main-nav span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#main-nav:hover span { color: #0079BF  }
#menu-logo img {
    display: block;
    margin: 30px auto 35px auto;
}
.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 240px;
    overflow-x: none;
    overflow-y: auto;
    font-size: 15px;
    background: #0079BF;
    text-align: center;
}
.sidr.right {
    left: auto;
    right: -260px;
}
.sidr.left {
    left: -260px;
    right: auto;
}
.sidr ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
}
.sidr ul li {
    display: block;
    margin: 0;
    line-height: 45px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidr ul li:hover,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
    border-top: none;
    background: #0079BF ;
}
.sidr ul li:hover>a,
.sidr ul li:hover>span,
.sidr ul li.active>a,
.sidr ul li.active>span,
.sidr ul li.sidr-class-active>a,
.sidr ul li.sidr-class-active>span { background: #0079BF  }
.sidr ul li a,
.sidr ul li span {
    padding: 0 25px;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.sidr ul li a span {
    display: inline-block;
    padding-left: 0;
    font-weight: 300;
    font-size: 14px;
}
.sidr-open .wrap { width: 1200px; position: relative; z-index: 3; }
.sidr-open .fp-slidesNav { margin-left: -602px!important }
.sidr-open .wrap .box { width: 40% }
.sidr-open #main-nav { left: 274px }

.divider:after { background: #0079BF;}
.divider:after { content: ""; position: relative;height: 4px;width: 50%; display: block; text-align: left; margin: 13px 0;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
}

/*section1*/
.onepage-wrapper {z-index: 2;}
.bg-full {background: url('../img/bg-full.jpg') repeat; z-index: 0;}
.overlay{ background-color: rgba(0,0,0,0.3); top: 0; left: 0; width: 100%;height: 100%;overflow: visible;z-index: 1; position: absolute;}
*[class^="prlx"] {background-size: cover; background-attachment: fixed; display: block; width: 100%;position: absolute; height: 300%;top:0;left:0;}

#fullpage {position: relative; z-index: 3;}
.sec1-wrap {width: 100%; margin-top: 6%; float: left; color: #fff;}
.sec1-wrap h2 { color: #fff;}
.sec1-wrap p {margin-bottom: 15px; line-height: 20px;}
.sec1-r {position: relative; text-align: center; max-width: 100%; width: 100%; margin: 0 auto; height: 40em;}
.bang-ico {background: url('../img/ust.png') no-repeat; }
.bang-ico{     position: absolute; background-position: center center; background-repeat: no-repeat; background-size: 180px auto; left: 0; top: 0; width: 100%; height: 100%;}

.bang-item{   position: absolute; width: 30%; border-radius: 5px;  border:1px solid #fff;     -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;}
.bang-item:hover {background: #fff; color: #0079BF}
.bang-item p {text-align: center;     font-family: 'pt_sansbold'; margin-bottom: 0; font-size: 18px;}
.bang-isi {width: 100%; float: left; position: relative;padding: 10px 20px;}
.bang-isi>.arrow { border-width: 11px;}
.bang-isi>.arrow, .bang-isi>.arrow:after {position: absolute; display: block;width: 0; height: 0; border-color: transparent;border-style: solid;}
.b1{top: 0; right:38%;}
.b1 .bang-isi>.arrow {bottom: -11px; left: 50%;margin-left: -11px;border-bottom-width: 0;border-top-color: #fff;}
.b2{top: 30%; right:0;}
.b2 .bang-isi>.arrow { top: 50%;left: -11px;margin-top: -11px;border-right-color: #fff;border-left-width: 0;}
.b3{bottom: 30%; right:0;}
.b3 .bang-isi>.arrow {top: 50%;left: -11px;margin-top: -11px;border-right-color: #fff;border-left-width: 0;}
.b4{bottom: 0; right:38%;}
.b4 .bang-isi>.arrow {top: -11px; left: 50%;margin-left: -11px;border-top-width: 0;border-bottom-color: #fff;}
.b5{top: 30%; left:0;}
.b5 .bang-isi>.arrow { top: 50%;right: -11px;margin-top: -11px;border-left-color: #fff;border-right-width: 0;}
.b6{bottom: 30%; left:0;}
.b6 .bang-isi>.arrow {top: 50%;right: -11px;margin-top: -11px;border-left-color: #fff;border-right-width: 0;}

/*section2*/
.sec2 {background: #fff;}
.sec2-wrap { width: 100%; margin:15% 0 3%; float: left;}
.img-phone {width: 80%; margin: 0 auto;}
.sec2-l h1 {text-align: left; color: #0079BF;font-size: 47px;margin-bottom: 30px; margin-top: 0px; font-weight: normal;}
.sec2-l p {font-size: 17px; margin-bottom: 15px; line-height: 24px;}
.sec2-l h4 {color: #0079BF; font-size: 22px;}

.sec-item{    margin-top: 15px;    overflow: hidden; zoom: 1;}
.pull-left{    margin-right: 10px; float: left;}
.sec-item .fa {color: #0079BF; display: block;   text-align: center;  width: 2.6em; font-size: 2em;    padding: 20px;border:2px solid #0079BF; border-radius: 50%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;}
.sec-item:hover .fa{ background: #0079BF; color: #fff;}

/*section3*/
.sec3 {background: #fafafa;}
.sec3-wrap { width: 100%; margin:15% 0 3%; float: left;}
.sec3-l h1 {text-align: left; color: #ffd941;font-size: 47px;margin-bottom: 30px; margin-top: 0px; font-weight: normal;}
.sec3-l p {font-size: 17px; margin-bottom: 15px; line-height: 24px; }
.sec3-l h4 {color: #ffd941; font-size: 22px;}
.sec3 .sec-item .fa {color: #ffd941;  border:2px solid #ffd941;}
.sec3 .sec-item:hover .fa{ background: #ffd941;color: #fff;}
.sec3 .divider:after{background: #ffd941;}

/*section4*/
.sec4 {background: #fff;}
.sec4-wrap { width: 100%; margin:15% 0 3%; float: left;} 
.sec4-wrap  .ac-device a {float: left; width: 24%;}
.sec4-wrap .ac-grid {position: absolute; width: 620px;left: 50%;margin-left: -310px;height: 100%; z-index: 1; top: 0;  opacity: 0; overflow: hidden; pointer-events: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translateZ(-350px);
    -moz-transform: translateZ(-350px);
    transform: translateZ(-350px);
    -webkit-backface-visibility: hidden;
}
.sec4-wrap .ac-grid .ac-slide { width: 145px; display: block;position: relative;float: left; margin: 10px 5px; cursor: pointer;}
.sec4-wrap .ac-device a img { display: block; position: absolute;}
.sec4-wrap .ac-grid .ac-slide img { display: block;width: 100%;}
.sec4-wrap .ac-grid .ac-description .description,.sec4-wrap .ac-grid .ac-description .ac-title { position: absolute; height: 100%; width: 100%;left: 0; top: 0; padding: 1em 1em 0;z-index: 100; color: #fff; background: rgba(0,0,0,0.4); font-weight: 300; opacity: 0;-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);transform: translateY(-5px);-webkit-transition: all 0.2s ease;-moz-transition: all 0.2s ease;transition: all 0.2s ease;-webkit-backface-visibility: hidden;}
.sec4-wrap .ac-grid .ac-slide:hover .ac-title { opacity: 1;-webkit-transform: translateY(0); -moz-transform: translateY(0);   transform: translateY(0);  -webkit-backface-visibility: hidden;}
.sec4-wrap .ac-grid .ac-description h3 {font-size: 18px; line-height: 24px;}

.sec4-wrap .ac-device .ac-desc h3 { position: relative; left: 0;top: 0; margin-left: 0; color: #0079BF; font-size: 40px; margin-bottom: 30px;}
.sec4-wrap .ac-desc {width: 70%; float: left; margin-left: 4%;}
.sec4-wrap .ac-desc .description {font-size: 17px; line-height: 24px; }
.sec4-wrap .ac-desc .description p {margin-bottom: 20px;}

.sec4-wrap .ac-device nav span {    border-color: #0079BF!important; display: block;font-size: 22px;font-weight: 300; cursor: pointer; color: #0079BF; background: transparent;line-height: 37px;padding: 0;margin: 0; float: left;width: 49px;height: 40px;text-align: center;}
.sec4-wrap .ac-device nav span:last-child { border-radius: 0 4px 4px 0; -webkit-border-radius: 0 2px 4px 0; -moz-border-radius: 0 4px 4px 0;}
.sec4-wrap .ac-device nav span:hover {color: #fff!important; background: #0079BF;-webkit-transition: background .2s; -moz-transition: background .2s; transition: background .2s; -webkit-backface-visibility: hidden;}
.sec4-wrap .ac-device nav span:first-child { border-right: 1px solid #0079BF; border-radius: 4px 0 0 4px;-webkit-border-radius: 2px 0 0 4px;-moz-border-radius: 4px 0 0 4px;}
.sec4-wrap .ac-device nav {border:1px solid #0079BF;width: 100px; border-radius: 4px; left: 30%;}

.tab-r {display: none;}

/*section5*/
.sec5 {background: #fafafa;}
.sec5-wrap { width: 100%; margin:15% 0 3%; float: left;} 
.sec-header {margin-bottom: 30px; text-align: center;}
.sec-header h1 { color: #ffd941; font-weight: normal;}
.sec5 .divider:after{background: #ffd941; text-align: center; margin: 13px auto;}
.sec-header p {font-size: 17px; margin-bottom: 15px; line-height: 24px;}

.sec5-c .img-phone{width: 64%;}
.sec5 .sec-item .fa {color: #ffd941;  border:2px solid #ffd941;}
.sec5 .sec-item:hover .fa{ background: #ffd941;color: #fff;}
.sec5 .text-right {margin-right: 10px; float: left; width: 73%;}

/*section6*/
.sec6 {background: #fff;}
.sec6-wrap { width: 100%; margin:10% 0 3%; float: left; position: relative;} 
.bg-phone { background: url(../img/iPhone1.png) no-repeat; width: 288px;height: 611px; position: absolute;text-align: 0; left: 40%; z-index: 5; top: 0;}

.tab-l {width: 40%;}
.tab-l-wrap {height: 650px; display: table;margin-right: 10%; }
.tab-l-isi {display: table-cell; vertical-align: middle; position: relative; }
.tab-l-isi p {font-size: 17px; margin-bottom: 15px; line-height: 24px;}

.tab-img {margin-top: 33%; margin-left: 2%;}

.tab-r {width: 35%; display: block;}
.tab-r-wrap{height: 650px; display: table;margin-left: 10%; }
.tab-r-isi {display: table-cell; vertical-align: middle; position: relative;}
.tab-r-isi h1 {text-align: left; color: #0079BF;font-size: 47px;margin-bottom: 30px; margin-top: 0px; font-weight: normal; line-height: 60px;}

.tab-btn-wrap {width: 30%; margin: 0 auto;}
.tab-btn-wrap .nav-tabs {border:0; margin-left: 14%;}
.tab-btn-wrap .nav-tabs > li.active > a,.tab-btn-wrap .nav-tabs > li.active > a:hover,.tab-btn-wrap .nav-tabs > li.active > a:focus {background-color: #0079BF; border:0; color: #fff;}
.tab-btn-wrap .nav-tabs > li > a { border: 0; border-radius: 4px; color: #0079BF; text-align: center;border:1px solid #0079BF; padding: 5px 15px; font-size:18px; text-transform: uppercase; }
.tab-btn-wrap .nav-tabs > li {margin: 0 5px;}

.tab-r.sh-768 {   display: none;}
.col-sm-3.tab-c.sh-640  {display: none;}
.sec7 .col-sm-3.tab-c.sh-640  {display: block;}

/*section7*/
.sec7 {background: #fafafa;}
.sec7-wrap { width: 100%; margin:10% 0 3%; float: left; position: relative;} 
.sec7-wrap .bg-phone { background: url(../img/iPhone1.png) no-repeat; width: 288px;height: 611px; position: absolute;text-align: 0; left: 0%; z-index: 5; top: 0;}
.sec7-wrap h1 {text-align: left; color: #ffd941 !important;}
.sec7-wrap .tab-btn-wrap .nav-tabs > li.active > a,.sec7-wrap .tab-btn-wrap .nav-tabs > li.active > a:hover,.sec7-wrap .tab-btn-wrap .nav-tabs > li.active > a:focus {background-color: #ffd941;color: #fff;}
.sec7-wrap .tab-btn-wrap .nav-tabs > li > a { color: #ffd941; border:1px solid #ffd941; }
.tabs-left {position: relative; width: 75%; float: left;}
.tabs-left .tab-r {width: 36%;}
.tabs-left .tab-l {width: 58%;}
.tabs-left .tab-r-wrap {margin-left: 4%;}
.tabs-left .tab-l-wrap {margin-right: 0%; }
.sec7-wrap h1 .divider:after {background:  #ffd941;}

/*section8*/
.sec8 {position: relative;}
.sec8 .container {position: relative; z-index: 1;}
.sec8 .sec-l{background: #fafafa; width: 50%;  height: 100%; position: absolute; left: 0; z-index: 0;}
.sec8 .sec-r{background: #fff; width: 50% ;height: 100%; position: absolute;right: 0;z-index: 0;}
.sec8-wrap { width: 100%; margin:10% 0 3%; float: left; position: relative;} 
.sec8 .fp-controlArrow ,.sec8 .fp-slidesNav {display: none;}
.bg-phone-l {background: url(../img/iPhone1.png) no-repeat; width: 220px;height: 468px; position: absolute;text-align: 0; left: 30.8%; z-index: 5; top: 14%; background-size: 100%;}
.sec8 h1 {text-align: center; color: #0079BF;font-size: 36px;margin-bottom: 30px; margin-top: 0px; font-weight: normal;}
.sec8  .divider:after{text-align: center; margin: 13px auto;}

.sec8-l {width: 50%; float: left; position: relative; height: 700px;}
.sec8 .carousel {width: 100%;}

.car-nav {position: absolute; right:10%; top: 44%; width: 50px;}
.car-nav .carousel-control {border-radius: 5px; border:1px solid #0079BF; position: relative; width: 50px; display: block; height: 50px; text-shadow:none; color:#0079BF; font-size: 35px; }
.car-nav .carousel-control.right,.car-nav .carousel-control.left {     background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0) 0), color-stop(rgba(0, 0, 0, 0) 100%));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0, rgba(0, 0, 0, 0) 100%);}
.car-nav .carousel-control.right {margin-top: 15px;}
.car-nav .carousel-control span {margin-top: 6px;}

.vertical .carousel-inner {height: 449px; overflow: hidden; position: relative; }
.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}
.carousel.vertical {height: 449px !important; overflow: hidden; top: 23px;}
.carousel.vertical .active {top: 0;}
.carousel.vertical .next {top: 100%;}
.carousel.vertical .prev { top: -50%;}
.carousel.vertical .next.left,.carousel.vertical .prev.right { top: 0;}
.carousel.vertical .active.left { top: -100%;}
.carousel.vertical .active.right { top: 100%;}
.carousel.vertical .item {left: 0;}
.img-car {width: 191px; margin: 9% auto;}
.img-car img  {max-width: 100%;}

.carousel-fade.car-fd .carousel-inner .item { -webkit-transition-property: opacity;transition-property: opacity; }
.carousel-fade .carousel-inner .item,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {opacity: 0;}
.carousel-fade .carousel-inner .active,.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {opacity: 1;}
.carousel-fade .carousel-inner .next,.carousel-fade .carousel-inner .prev,.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {left: 0;-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}
.carousel-fade .carousel-control { z-index: 2;}
.carousel-fade .carousel-inner .item h3 {text-align: center; font-size: 24px;}
.carousel-fade .carousel-inner .item .h3 { width: 90%; margin:0 auto;}
.carousel-fade {position: relative; margin-top: 20px;}

.sec8-r {width: 50%; float: right; position: relative; height: 700px;}

@media (max-width: 1399px){
    #logo{    width: 209px; top: 0;}
    #logo h1 {font-size: 18px;}

    #menu-logo img { margin: 29px auto 35px auto;width: 74%;}
    .bang-item p {font-size: 15px;}

    .sec2-wrap { margin-top:10%;}
    .sec2-l h1, .sec3-l h1 {font-size: 36px; margin-bottom: 30px;}
    .divider:after{width: 40%; margin-top:7px; margin-bottom: 7px;}
    .sec2-l p,.sec3-l p { font-size: 15px;line-height: 23px;}
    .sec2-l h4,.sec3-l h4 {margin: 0; line-height: 40px;}

    .sec-item .fa{width: 2em;height: 2em;font-size: 1.6em; padding: 10px 0;}
    .img-phone {width: 75%;}

    .sec3-wrap { margin-top:10%;}
    .bg-device { width: 258px !important;height: 546px !important;background-size: 100% !important;}

    .sec4-wrap { margin-top:10%;}
    .sec4-wrap .ac-device a { width: 19.5%;height: 393px;margin: 77px 0 0 18px;}
    .sec4-wrap .ac-device a img {width: 100%;}
    .sec4-wrap .ac-device .ac-desc h3 {    font-size: 36px;margin-bottom: 30px;}
    .sec4-wrap .ac-desc .description p{font-size: 15px; line-height: 23px;}
    .sec4-wrap .ac-device nav {left: 22%;}

    .sec5-wrap { margin-top:7%;}
    .sec-header p {font-size: 15px;line-height: 23px;}
    .sec-item h4{margin: 0;}

    .sec6-wrap {margin-top: 7%}
    .tab-l-wrap {height: 620px; overflow: scroll;}
    .tab-l-isi p {font-size: 15px;line-height: 23px;}
    .bg-phone {width: 258px !important;height: 546px !important;background-size: 100% !important;}
    .tab-l-wrap {margin-right: 5%;}
    .tab-img{    margin-top: 30%;width: 225px; margin-left: 0;}
    .tab-img img {width: 100%;}
    .tab-r-wrap {height: 620px;margin-left: 0%;}
    .tab-r-isi h1 {font-size: 36px; line-height: 50px;}

    .sec7-wrap {margin-top: 8%}
    .tabs-left .tab-r { width: 42%;}

    .sec8-wrap {margin-top: 8%}
    .sec8 h1 {font-size: 36px; line-height: 29px;}
    .bg-phone-l {top: 10%;}
    .carousel.vertical {top: 9px;}
    .car-nav {top: 32%;}
    .carousel-fade .carousel-inner .item h3 {line-height: 22px; font-size: 18px;}
    .carousel.vertical { height: 445px !important;}
}

@media (max-width: 1199px) {
    #logo { position: fixed; width: 180px;left: 54px; text-align: center;}
    #logo h1 { font-size: 14px;}
    .sidr-open .wrap{width: 90%;}

    .sec1-wrap {margin-top: 2%;}
    .sec1-wrap .col-sm-4 {width: 50%;}
    .sec1-wrap h2 {font-size: 26px;}
    .sec1-wrap .col-sm-8 {width: 50%;}
    .sec1-r {height: 46em;}
    .bang-ico {background-size: 100px auto;    position: relative; height: 102px; margin-bottom: 20px;}
    .bang-item {position: relative;width: 100%; float: left; margin-bottom: 15px;}
    .bang-item .arrow {display: none;}
    .b1 ,.b2,.b3,.b4,.b5,.b6{ top: 0; right: 0; bottom: 0;left: 0;}

    .sec2-wrap { margin-top:10%;}
    .sec2-l h1, .sec3-l h1 {font-size: 28px; margin-bottom: 20px;}
    .divider:after{width: 40%; margin-top:7px; margin-bottom: 7px;}
    .sec2-l p,.sec3-l p { font-size: 14px;line-height: 20px;}
    .sec2-l h4,.sec3-l h4 {margin: 0; line-height: 30px;}

    .sec-item .fa{width: 2em;height: 2em;font-size: 1.3em; padding: 7px 0;}
    .img-phone {width: 80%;}

    .sec4-wrap .ac-device a { width: 23.7%;}
    .sec4-wrap .ac-desc { width: 69%; float: left; margin-left: 5%;}
    .sec4-wrap .ac-device .ac-desc h3 { font-size: 28px; margin-bottom: 20px;}
    .sec4-wrap .ac-desc .description p{font-size: 14px;line-height: 20px;}
    .sec4-wrap .ac-device nav {left: 30%;  bottom: 5em;}

    .sec-header h1 {font-size: 28px; margin-bottom: 20px;}
    .sec-header p {font-size: 14px;line-height: 20px;}

    .tab-l-wrap {height: 600px; overflow: scroll;}
    .tab-l-isi p {font-size: 14px;line-height: 20px;}
    .bg-phone { width: 237px !important; height: 503px !important; margin-top: 5%;}
    .tab-l-wrap {margin-right: 5%;}
    .tab-img { margin-top: 56%; width: 206px;}
    .tab-img img {width: 100%;}
    .tab-r-wrap {height: 600px;margin-left: 0%;}
    .tab-r-isi h1 {font-size: 32px; line-height: 36px;}

    .tab-btn-wrap { width: 37%;}

    .sec8 h1 {font-size: 32px;line-height: 29px;}
    .bg-phone-l { top: 9%;left: 26.8%;}
    .carousel-fade .carousel-inner .item h3 { line-height: 22px;font-size: 15px; margin-top: 10px;}

}

@media (max-width: 991px) {
    .sidr-open .wrap .box{width: 100%;text-align: center;font-size: 14px;}
     #menu-logo { display: none; }
    .sidr ul { margin-top: 35%;}
    #sidr { width: 200px;  z-index: 100;}
    .sidr ul li a, .sidr ul li span { font-size: 11px; padding: 0 18px; }
    .sidr-open #main-nav {left: 14px; z-index: 200;} 

    .sec2-wrap { margin-top:12%;}
    .sec3-wrap { margin-top:12%;}
    .sec4-wrap { margin-top:12%;}
    .sec5-wrap { margin-top:12%;}
    .sec6-wrap {margin-top: 12%}
    .sec7-wrap {margin-top: 12%}
    .sec8-wrap {margin-top: 12%}

    .bg-device { width: 188px !important;height: 397px !important; background-size: 100% !important;}
    .sec4-wrap .ac-device a {width: 23.8%; height: 340px;    margin: 56px 0 0 13px;}

    .tab-l { width: 67%; float: right;}
    .tab-c {width: 33%;float: right;}
    .tab-r.sh-768 {  width: 100%;float: left; display: block;}
    .tab-r {display: none;}
    .tab-r-wrap { height: auto;}
    .bg-phone {left: 0; margin-top: 10%;}
    .tab-img {margin-top: 31%;}
    .tab-btn-wrap { width: 48%;}

    .sec7 .tab-c { width: 33%; float: left;}
    .tabs-left {width: 67%;}
    .tabs-left .tab-l {width: 100%;}

    .bg-phone-l {top: 9%; left: 19.8%;}
    .img-car {margin:12% auto;}
    .car-nav {width: 25px;right: 5%;}
    .car-nav .carousel-control {width: 25px; height: 25px; font-size: 15px;}

    
}
@media (max-width: 991px) and (orientation: portrait){
    .bg-device {left: 34% !important;}
    .sec4-wrap .ac-device a {left: 34%;}
    .sec4-wrap .ac-desc {width: 95%;  margin-left: 0;}
    .ac-device {height: 690px !important;}
    .sec4-wrap .ac-device nav {bottom: 0; left: 35%;}
    .ac-device h3 { width: 100% !important;}
    .sec4-wrap .ac-device nav span {line-height: 28px; height: 28px;}
}

@media (max-width: 767px){
    .marquee-wrap{    margin-top: 60px;width: 100%;}
    .sec1-wrap h2{margin-top: 0;}
    .wrap { position: fixed;top: 0; left: 0; z-index: 5; width: 100%; background: rgba(255,255,255,0.8);}
    #main-nav {display: none;}
    
    *[class^="prlx"] {background-attachment: scroll; }
    
    .onepage-wrapper,.onepage-wrapper .section {height: auto !important}
    
    #logo { top: 0 !important; left: 0;position: relative; margin:0 auto;}
    #logo img { max-width: 200px !important;margin-top: 0;}
    #logo h1 {display: none; }
    
    .sec1-wrap .col-sm-4 {width: 100%; }
    .sec1-wrap .col-sm-8 { width: 100%;}

    .sec2-l {float: right; width: 100%;}
    .sec2-r {float: left; width: 100%;}
    .img-phone {width: 30%; margin:0 auto;}

    .sec4-wrap .ac-device a {width: 162px;}
    .sec4-wrap .ac-device nav {position: relative;}
    .ac-device nav {padding-top: 0;}

    .pull-left.fr {float: left !important;}
    .sec5 .text-right {text-align: left !important; width: 89%;}
    .sec5 .img-phone {width: 30%; margin:0 auto;}

    .tab-r.sh-768 {float: none;}
    .bg-phone {left: 33%; margin-top: 14%;    width: 207px !important;height: 438px !important; display: none;}
    .col-sm-3.tab-c {  display: none; }
    .col-sm-3.tab-c.sh-640 { margin:11% auto 0 auto; width: 231px; float: none; display: block; height: 376px;}
    .tab-img {margin:0 auto; width: 179px; float: none;}
    .tab-l {width: 100%; height: auto; margin-top: 20px;}
    .tab-l-wrap {height: auto; display: block;}
    .tab-btn-wrap {width: 75%;}
    .sec7-wrap .bg-phone {left: 33%; margin-top: 14%;    width: 207px !important;height: 438px !important; display: none;}
    .tabs-left {width: 100%;}

    .sec8 .sec-l, .sec8 .sec-r {display: none;}
    .sec8-l {width: 100%; background: #fff;}
    .sec8-r {width: 100%; background: #fafafa;padding-top: 10%;}
    .sec8 .container {padding: 0;}
    .bg-phone-l {top: 13%;left: 32.8%; display: none;}
    .sec8-r .bg-phone-l {top: 22%; display: none;}
    .carousel.vertical {top: 37px; height: 468px !important;}
    .vertical .carousel-inner {height: 436px;}
    .img-car {margin: 7% auto;}


    .bg-device {left: 34% !important;}
    .sec4-wrap .ac-device a {left: 34%;}
    .sec4-wrap .ac-desc {width: 95%;  margin-left: 0;}
    .ac-device {height: 690px !important;}
    .sec4-wrap .ac-device nav {bottom: 0; left: 35%;}
    .ac-device h3 { width: 100% !important;}
    .sec4-wrap .ac-device nav span {line-height: 28px; height: 28px;}
}

@media (max-width: 640px) {
    #logo { top: 3%;}
    #logo img { max-width: 120px;}
    .sidr-open .wrap .box {width: 100%; text-align: center; font-size: 11px; line-height: 1.2;}
    .sidr ul li {line-height: 35px;}


}

@media (max-width: 639px) {
    *[class^="prlx"] {height: 500%;}
    #logo { top: 3%;}
    #logo img { max-width: 120px;}
    .sidr-open .wrap .box {width: 100%; text-align: center; font-size: 11px; line-height: 1.2;}
    .sidr ul li {line-height: 35px;}

    .ac-device {width: 100% !important; height: auto !important;}
    .bg-device {left: 22% !important;}
    .sec4-wrap .ac-device a {left: 22%;}
    .ac-device h3 {padding-top: 20px !important;}
    .ac-device nav {padding-top: 0 !important;}

    .tab-btn-wrap {width: 100%;}
    .tab-btn-wrap .nav-tabs {margin-left: 0;}
    .tab-btn-wrap .nav-tabs > li > a {font-weight: 17px;}
}



