/* ==========================================================================
  CUSTOM STYLE
   ========================================================================== */
.head-bg{background-color: #0079BF;}
.head-color { color: #fff;}

.bg-white {background:#fff;}

.section-bg {background: #EFEAEA;}
.section-color {color: #5c5c5c;}

.content-color1 {color: #0079BF; }
.content-color2 {color: #0079BF; }
.content-color3 {color: #ffd941; }

.content-bg1 {background: #0079BF; }
.content-bg2 {background: #ffd941; }
.content-bg3 {background: #fafafa; }

.full-bg { background: url('') no-repeat; background-size: cover; background-attachment: fixed;}
.link-color {color: #fff;}
.link-color:hover, .link-color:focus {color:#0079BF;}
.link-color1 {color: #ffd941;}
.link-color1:hover, .link-color1:focus{color: #ffd941; }

.btn-green {background: #0079BF; color: #fff;}
.btn-green:hover,.btn-green:focus {color:#0079BF; border:1px solid #0079BF; }

.border { border:1px solid #0079BF;}
.border1 { border:1px solid #ddd;}
.border-color {border-color:#0079BF;}